
<!doctype html>
<html lang="en">
  <%-include('common/head')%>
  <body>
    <%-include('common/navbar')%>

      
       
    <div class="container">
        <h1>welcome User Dashboard</h1>
        <h1>welcome : <%=data.name%></h1>
        <h1><a href="/logout">Logout</a></h1>
       
       
      </div>

      <%-include('common/footer')%>